# Distrobox home directory
/.distrobox

# Visual Studio Code configuration
/.vscode

# ROS 2 build and runtime artifacts
/build
/install
/log
/frames_*.gv
/frames_*.pdf
/robot_localization_debug.txt

# prebuilt overlay artifacts
/overlay_ws/build
/overlay_ws/log
