[submodule "src/kalman_robot"]
	path = src/kalman_robot
	url = git@github.com:agh-space-systems-rover/kalman_robot.git
[submodule "overlay_ws/src/spatio_temporal_voxel_layer"]
	path = overlay_ws/src/spatio_temporal_voxel_layer
	url = git@github.com:nachovizzo/spatio_temporal_voxel_layer.git
[submodule "overlay_ws/realsense-ros"]
	path = overlay_ws/src/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "overlay_ws/src/rosbridge_suite"]
	path = overlay_ws/src/rosbridge_suite
	url = git@github.com:RobotWebTools/rosbridge_suite.git
[submodule "overlay_ws/src/compressed_depth_image_transport"]
	path = overlay_ws/src/compressed_depth_image_transport
	url = git@github.com:agh-space-systems-rover/compressed_depth_image_transport.git
[submodule "overlay_ws/src/rtabmap_odom"]
	path = overlay_ws/src/rtabmap_odom
	url = git@github.com:agh-space-systems-rover/rtabmap_odom.git
